
<div id="cwrap" class="cta-wrapper">
    <div class="container">
        <h2 class="centered cta-white">GET INVOLVED</h2>
        <div class="row cta-row">
            <div class="col-lg-6">
                <h3 class="cta-grey">ATTEND A RALLY</h3>
                <div class="well">
                <div class="img-container">
                    <img src="/assets/img/SIM_one.jpg" />
                </div>
                <p>When: 8/24/2015</p>
                <p>Where: Cambridge, MA</p>
                <a href="#">Register on Eventbrite (include link here)</a>
                </div>
            </div>
            <div class="col-lg-6">
                <!-- FWD WIDGET SCRIPT -->
                <h3 class="cta-grey">WHERE DOES YOUR REPRESENTATIVE STAND?</h3>
                <div class="well">
                    <script type="text/javascript">
                        document.write('<iframe src="http://app.fwd.us/widgets/push4reform" border="0" height="350" width="400" id="fwdwidget" scrolling="no" style="border:0 none; background-color:transparent;"></iframe>');
                    </script>
                 </div>
                <!-- EDN FWD WIDGET SCRIPT -->
            </div>
            
        </div><! --/row -->
    </div><! --/container -->
</div><! --/cwrap -->